# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==0.10
Flask-Restful
#setuptools
#flask-login
#flask-openid
#flask-mail==0.7.6
#sqlalchemy==0.7.9
#flask-sqlalchemy==0.16
#sqlalchemy-migrate==0.7.2
#flask-whooshalchemy==0.54a
#flask-wtf==0.8.4
#pytz==2013b
#flask-babel==0.8
#flup

